body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

@font-face {
  font-family: Pixelify;
  src: url(./assets/fonts/PixelifySans-VariableFont_wght.ttf);
}

@font-face {
  font-family: PressStart2P;
  src: url(./assets/fonts/PressStart2P-Regular.ttf);
}

.mainContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
}

.title {
  font-family: PressStart2P;
  font-size: 90px;
}

form {
  display: flex;
  gap: 7px;
}

table {
  margin-top: 2rem;
}

td {
  border: 1px solid black;
  min-width: 150px;
  text-align: center;
}
